.container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
}


.item {

    flex: 1;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 10px 10px 10px;

}

a:link {
    flex: 1;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: whitesmoke;
}

#Titulo {
    font-size: 3.15em;
    font-weight: bold;
    text-align: center;

}

.containerDesafio {
    width: 53%;
    height: 550px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    background-color: gray;
    border: 2px solid black;
}

.box-1 {
    width: 52%;
    height: 10%;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid black;
    background-color: white;
}

.box-2 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 30%;
    bottom: 150px;
    border-left: 2px solid blue;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid red;
    background-color: greenyellow;

}

.box-3 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 30%;
    bottom: 320px;
    border-left: 2px solid blue;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid red;
    background-color: greenyellow;
}

.circle-1 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 60%;
    bottom: 150px;
    border-radius: 50% 50%;
    border-left: 2px solid blue;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid red;
    background-color: greenyellow;
}

.circle-2 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 60%;
    bottom: 320px;
    border-radius: 50% 50%;
    border-left: 2px solid blue;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid red;
    background-color: greenyellow;
}


hr {
    width: 90%;
}

.subtitulo {
    color: blue;
}

.botaoVoltar {
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
}