.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item-71 {
    display: flex;
    flex-wrap: wrap;
    width: 52px;
    height: 20px;
    border: 2px solid black;
    margin: 30px;
    background-color: green;
    
}

.item-7 {
    flex-shrink: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 70%;
    margin: 15px;
    display: flex;
    border: 2px solid black;
}

.item-6 {
    flex-shrink: 1;
    width: 25%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    border: 2px solid black;
}

.item-5 {
    flex-shrink: 1;
    width: 35%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    border: 2px solid black;
}

.container-5 {
    width: 90%;
    height: 120px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.item-4 {
    width: 100%;
    margin: 5px;
    align-items: center;
    justify-content: center;
    background: green;
    border: 2px solid black;

}

.container-4 {
    width: 50%;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: grey;
    margin: 0 auto;
}

.item-3 {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    align-self: center;
    background: green;
    font-size: 1.5em;
    border: 2px solid black;

}

.container-3 {
    justify-content: center;
    width: 50%;
    height: 180px;
    margin: 0 auto;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    flex-direction: column;

}

.container-2 {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;

}

.container {
    width: 25%;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
}


.item {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 10px 10px 10px;

}

body {
    width: 100%;
    height: 100%;
    font-family: monospace;
    background-color: whitesmoke;
}

#Titulo {
    font-size: 3.15em;
    font-weight: bold;
    text-align: center;

}

hr {
    width: 90%;
}

.botaoVoltar {
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.box-1 {
    flex-shrink: 1;
    display: flex;
    width: 55%;
    height: 10%;
    margin: 0 auto;
    border-radius: 50px;
    border: 2px solid black;
}

p {
    color: blue;
}

.item-2 {
    width: 20px;
    height: 20px;
    margin: 5px;
    background: green;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid black;
}