
body {
    padding: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.grid-container {
    
    height: 100%;
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        "aside main";
}
header {
    grid-area: header;
    background-color: chocolate;
}
aside {
    grid-area: aside;
   
}

main {
    grid-area: main;
}
aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-image: url(https://c.wallhere.com/photos/b6/27/Pok_mon_May_pokemon_blaziken_Swellow-1364445.jpg!d);
    background-repeat: no-repeat;
    background-size: 150% 100% ;
}
aside .busca-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border: solid #000066 5px;
    border-radius: 20px;
    background-color: rgb(255, 10, 0);
    opacity: 0.8;

}
main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    
}
.pokedex {
    display: flex;
    flex-direction: column;
    border: solid #000066 5px;
    background-color:rgb(255, 10, 0);
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
    height: 500px;
    width: 250px;
    min-height: 200px;
    opacity: 0.8;
}
.pokedex .tela-container{
    height: 200px;
}
.pokedex .pokedex-tela {
    height: 100%;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    border: groove #000066 5px;
    border-radius: 10%;
    background-color: #ffba70;
    padding: 2px;
}
.pokedex #imagemPokemon {
    max-width: 100%;
    max-height: 100%;
}
.pokedex .skills-container {
    height: 240px; 
    overflow:auto;
    background-color: rgb(255, 10, 0);
    font-size: 150%;
    color: #000066;
    font-weight:bold;
} 
.mid-pokedex{
    padding: 22px 0px 10px;
    font-size: 170% ;
    color: #000066;
    font-weight:bold;
}
.botaoVoltar {
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 10px 5px;
    background-color: #000;
    color: #FFF;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size:x-large;
}
#Pesquisa{
    color: blue;
    font-size: 160%;
    font-weight:bold;
}

