/* Geral */

.container {
    margin: 100px;
}

.button {
    box-sizing: border-box;
    padding: 15px 30px;
    width: 200px;
    background-color: #000;
    border-radius: 30px;  
    text-align: center;      
    margin-bottom: 50px;
}

.link-button {    
    color: #fff;
    font-size: 30px;
    text-decoration: none;       
}

.titulo-primario {  
    text-align: center;
    font-size: 50px;
}

.principal {    
    border: 5px solid #000;
    background-color: #808080;
    padding: 20px 100px 0;    
}

.descricao {
    width: 700px;
    height: 80px;
    box-sizing: border-box;   
    border: 5px solid #000;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    margin: auto;
	  margin-bottom: 20px;
}

.descricao > p {
    font-size: 30px;    
    color: #3166fb;   
    margin-top: 18px; 
}

.formas {	
	text-align: center;
}

.quadrado, .circulo {
	box-sizing: border-box;
    width: 120px;
    height: 120px;
    border-top: 5px solid #000;
    border-right: 5px solid #ff0000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #3166fb;
    background-color: #798b09;    
	display: inline-block;	
	margin: 20px 15px 0 15px;	
}

.linha1, .linha2 {	
	margin: 20px;
}

.circulo {    
    border-radius: 50%;
}


