.objetivo-02 {
	box-sizing: border-box;
	margin: 100px;
}

.button {
	box-sizing: border-box;
	padding: 15px 30px;
	width: 200px;
	background-color: #000;
	border-radius: 30px;  
	text-align: center;      
	margin-bottom: 50px;
}

.link-button {    
	color: #fff;
	font-size: 30px;
	text-decoration: none;       
}

.principal {	
	margin: auto;
	width: 70vw;
}

.titulo-primario {  
	text-align: center;
	font-size: 50px;
}

.descricao { 
	box-sizing: border-box;   
	border: 5px solid #000;
	border-radius: 50px;
	background-color: #fff;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

.descricao {
	font-size: 28px;    
	color: #3166fb;   
	padding: 10px; 
}

.container, 
.container-02,
.container-03 {	
	border: 5px solid #000;
	background-color: #808080;
	display: flex;	
	flex-wrap: wrap;
	padding: 10px;	
	gap: 10px;
	margin: 20px 0;
}

.quadrado, 
.quadrado-02, 
.quadrado-03,
.quadrado-04,
.quadrado-05,
.interno {  	
    width: 40px;
    height: 40px;
    border: 5px solid #000;
    background-color: #798b09;	
}

.container-02 {
	display: grid;	
	padding: 40px;
}

.quadrado-02 {
	margin: auto;
}

.quadrado-03 {
	display: flex;
	box-sizing: border-box;
	width: 100%;
    height: 100px;	
	font-size: 30px;
	justify-content: center;
  	align-items: center;	
}

.container-03 {	
	align-items: center;		
}

.quadrado-04 {	
	display: flex;
	box-sizing: border-box;
	width: 35%;
    height: 100px;	
	font-size: 30px;
	justify-content: center;
  	align-items: center;	
}

.quadrado-05 {
	display: flex;
	box-sizing: border-box;
	width: 15%;
    height: 100px;	
	font-size: 30px;
	justify-content: center;
  	align-items: center;
	text-align: center;
}

.quadrado-borda {
	display: flex;
	flex-wrap: nowrap;
	box-sizing: border-box;
	width: 40%;
    height: 70px;	
	font-size: 30px;
	justify-content: flex-end;
  	align-items: center;
	border: 5px solid #000;
	padding-right: 20px;
}

.interno {
	display: flex;
	justify-content: center;
	text-align: center;	
	width: fit-content;
}





