body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: burlywood;
}

li {
    list-style-type: none;
}

td {
 width: 15%;
 text-align: center;
}



.mainPageLink {
    margin-right: 25px;
    }

.titleContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Grenze', serif;
}

.menu {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:smaller; 
    font-style: inherit;
    display: flex;
    justify-content: center;
}

.fraseTabelaPersonagens{
	display: flex;
	justify-content: center;
	
 }

.fraseTabelaPersonagens:hover{
    color: red;
}

.tabelaPersonagens{
    display: flex;
    justify-content: center;
}

.firstLine {
    height: 10px;
    width: 300px;
}

.secondLine {
    height: 100px;
    width: 55px;
    }

.powerAladin {
	margin-left: 25px;
}

.thirdLine {
    height: 100px;
}

.fourthLine {
	height: 100px;
}

