
 a {
    display: block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 10px 5px;
    background-color: #000;
    color: #FFF;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}

hr {
    margin: 50px 0px;
}
#titulo{
    text-align: center;
}
#conteudo{
    margin: 0 auto;
    background-color: grey;
    width: 90%;
    height: 600px;
    border: solid 3px black;
}
body {
    padding: 50px 50px;
    margin: 0;
    font-size: 30px;
}
#caixa {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    border: solid 3px black;
    border-radius: 30px;
}
p {
    color: blue;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.figura {
    position: relative;
    bottom: -120px;
    left: 35%;
    background-color: olive;
    border: 5px solid black;
    border-left: 5px solid blue;
    border-right: 5px solid red;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}

.redonda {
    border-radius: 100px;
}

